Flask==3.1.2
flask-cors==6.0.1
gunicorn==23.0.0

torch
torchvision
torchaudio

transformers
accelerate
safetensors
sentence-transformers
huggingface-hub

diffusers
peft
tokenizers

Pillow
numpy
scipy
librosa
soundfile
imageio
imageio-ffmpeg

sentencepiece
protobuf